@import "../components/constants";

.top5 {
	display: flex;
}

.top5Waiting {
	align-self: center;
	text-align: center;
	text-transform: capitalize;
}
.rankBox {
	text-align: center;
	background-color: #212121;
	color: white;
	max-width: 160px;
	overflow: hidden;
	width: 100%;
	max-height: 150px;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #232323;
	transition: 1s ease;
	margin: 4px;
	padding: 0.5em 0;
	&:hover {
		border: 1px solid orange;
	}
	.gName {
		font-weight: bold;
	}
	.gServer {
		text-transform: capitalize;
	}
	.gProgress {
		width: fit-content;
		width: $mozfit;
		background-color: #0000007c;
		color: orange;
		border: 1px solid black;
		margin: auto;
		padding: 0.2em;
	}
	.r1 {
		color: #161616;
		background-color: gold;
		width: 20px;
		font-weight: 600;
		margin: auto;
		border-radius: 112px;
	}
	.r2 {
		color: #161616;
		font-weight: 800;
		background-color: silver;
		width: 20px;
		font-weight: 600;
		margin: auto;
		border-radius: 112px;
	}
	.r3 {
		font-weight: 600;
		background-color: #cd7f32;
		width: 20px;
		font-weight: 600;
		margin: auto;
		border-radius: 112px;
	}
}
