@import "constants";
.raidDataForms {
	width: fit-content;
	width: $mozfit;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-items: center;
	justify-content: center;
	align-items: center;
	label {
		text-align: center;
		width: fit-content;
		margin-bottom: 0.5em;
	}
	input,
	select {
		font-size: 1rem;
		padding: 0.2em 0;
		margin-left: 1em;
		width: 177px;
		text-align: center;
	}
	.inputLike {
		@extend input;
		background-color: white;
		color: black;
		padding: 0.1em 0.5em;
	}
	input[type="number"] {
		width: 4em;
	}
}
